<div class="playingCards faceImages">
  <app-card *ngFor="let card of cards" [rank]="card.rank" [suit]="card.suit"></app-card>
</div>

<button class="card" (click)="getAnotherCard()" [disabled]="getScore() >= 21">Another card</button>
<button class="reset" (click)="getReset()">Reset</button>

<p><b>Score:</b> {{getScore()}}</p>

<p>{{getResult()}}</p>
